@import url('https://fonts.googleapis.com/css2?family=Moulpali&family=Quicksand&display=swap');

html {
    height: 100%;
    /* background: radial-gradient(ellipse at bottom, #f87171 0%, #7f1d1d 100%); */
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    overflow: hidden;
    background-image: linear-gradient(to right top, #051937, #101930, #15192a, #181923, #1a1a1d);
}

body {
    color: #ffffff;
    background: transparent;
    font-family: "Quicksand", "Moulpali", serif !important;
}

.bluelight {
    text-shadow: 0 0 10px #3498DB,
        0 0 20px #3498DB,
        0 0 30px #3498DB,
        0 0 40px #2980B9,
        0 0 70px #2980B9,
        0 0 80px #2980B9,
        0 0 100px #2980B9,
        0 0 150px #2980B9;
}

.redlight {
    text-shadow: 0 0 10px #7f1d1d,
        0 0 20px #dc2626,
        0 0 30px #dc2626,
        0 0 40px #f87171,
        0 0 70px #f87171,
        0 0 80px #f87171,
        0 0 100px #f87171,
        0 0 150px #f87171;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.header {
    /* font-size: 3rem; */
    margin-top: 4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 2;
    font-size: clamp(3.75rem, -0.6786rem + 4.5714vw, 13.75rem);
    text-shadow: 5px 5px 5px #b91c1c;
}

.clock {
    /* width: 250px;
    height: 250px;

    border: 3px solid white;
    border-radius: 50%; */
    overflow: hidden;
}

.col-md-12 {
    overflow: hidden;
    padding-bottom: 20px;
}

.top-pane {
    padding-bottom: 0;
    margin-bottom: 0px;
    /* border-radius: 5px 5px 0px 0px; */
    /* background-color: #b91c1c; */
    background-color: transparent !important;
    border: none;
    font-weight: 700;
    box-shadow: none !important;
    text-shadow: 5px 5px 5px #b91c1c;
}

.bottom-pane {
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
    /* background-color: #991b1b; */
    background-color: transparent !important;
    border: 0px;
    font-weight: 500;
    box-shadow: none !important;
}

@media (min-width: 768px) {
    .num {
        font-size: 10rem;
    }
}

@media (max-width: 767px) {
    .num {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .num {
        font-size: 7rem;
    }
}

.text {
    font-size: 4rem;
}

h1 {
    padding-top: 10px;
}

@media (min-width: 768px) {
    h1 {
        margin-bottom: 75px;
        font-size: 100px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    font-size: clamp(12px, -0.6786rem + 4.5714vw, 18px);
}

.footer a {
    text-decoration: underline;
}