html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #f87171 0%, #7f1d1d 100%);
    overflow: hidden;
}

body {
    background: transparent;
    font-family: 'Kantumruy Pro', 'Nova Square', sans-serif;
    color: #ffffff;
}

.bluelight {
    text-shadow: 0 0 10px #3498DB,
        0 0 20px #3498DB,
        0 0 30px #3498DB,
        0 0 40px #2980B9,
        0 0 70px #2980B9,
        0 0 80px #2980B9,
        0 0 100px #2980B9,
        0 0 150px #2980B9;
}

.redlight {
    text-shadow: 0 0 10px #7f1d1d,
        0 0 20px #dc2626,
        0 0 30px #dc2626,
        0 0 40px #f87171,
        0 0 70px #f87171,
        0 0 80px #f87171,
        0 0 100px #f87171,
        0 0 150px #f87171;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.clock {
    overflow: hidden;
}

.col-md-12 {
    overflow: hidden;
    padding-bottom: 20px;
}

.top-pane {
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #b91c1c;
    border: 0px;
    font-weight: 700;
}

.bottom-pane {
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
    background-color: #991b1b;
    border: 0px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .num {
        font-size: 100px;
    }
}

@media (max-width: 767px) {
    .num {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .num {
        font-size: 30px;
    }
}

@media (min-width: 768px) {
    .text {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .text {
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 75px;
    }
}

h1 {
    padding-top: 10px;
}

@media (min-width: 768px) {
    h1 {
        margin-bottom: 75px;
        font-size: 100px;
    }
}